<% include ../partials/header.ejs %>
 <ul class="nav nav-tabs">
  <li role="presentation"><a href="/dogMain">Home</a></li>
  <li role="presentation" class="active"><a href="#">Create Blog</a></li>

</ul> 
<div class = "container">
<h2 style="text-transform: uppercase;">Create a new Blog</h2>
	<form action="/dogMain" method="POST" style="margin-top: 25px;">
		<div class="thumbnail">
	<label style="font-family: 'Oswald', sans-serif;text-align: center;font-size: 20px;">Name the dog</label>
	<input type="text" class="form-control" placeholder="Name of doge" name=dogBlog[names]>
	<label style="font-family: 'Oswald', sans-serif;text-align: center;font-size: 20px;">Paste the image URL</label>
	<input type="text" class="form-control" placeholder="Image URL" name="dogBlog[image]">
	<label style="font-family: 'Oswald', sans-serif;text-align: center;font-size: 20px;">Description about Dog</label>
	<textarea class="form-control" rows="3" placeholder="About doge" name = "dogBlog[textareas]"></textarea>
	<div style="text-align: center;padding-top:20px;">
	<button type="submit" class ="btn btn-success">Submit</button
	</div>	</div>
</form>
</div>



 
<% include ../partials/footer.ejs %> 